<%- include("partials/header_with_data") %>
<div class="profile">
    <div class="profileDetails">
      <h1>Edit your Profile</h1>

       <form action="/editProfile" method="POST" enctype="multipart/form-data">
        <label>Surname:</label><input type="text" name="surname" value="<%=surname%>" maxlength="12" required>
        <br>
        <label>First Name:</label><input type="text" name="firstName" value="<%=firstName%>" maxlength="12" required>
        <br>
        <label>Upload Profile Picture:</label> <input type="file" name="file" value="<%=profilePic%>" >
        <br>
        <input type="submit" value="Submit" class="adminActionButtons">
       </form> 
       
    </div>
        <p>Upload an image with a size not greater than 1MB</p>

</div>


<%- include("partials/footer") %>